<div class="contact-container">
    <div class="headline-container">
        <div class="sideline-left"></div>
        <h1>Contact</h1>
    </div>
    <div class="contact-details-container">
        <div class="text-container">
            <h2>Got a problem to solve?</h2>
            <div class="text-spans">
                <span>Contact me through this form, I am interested in hearing from you, knowing your ideas and
                    contributing to your projects with my work.</span>
                <span>Need a Frontend developer? Contact me!</span>
            </div>
        </div>
        <div class="form-container">
            <input type="text" class="purple-border" placeholder="Your name">
            <input type="email" class="purple-border" placeholder="Your email">
            <textarea class="purple-border" placeholder="Your message"></textarea>
            <div class="policy-container">
                <label>
                    <input type="checkbox" name="policy" id="policy">
                    <span>I've read the</span>
                </label>
                <a href="">privacy policy</a>
                <span>and agree to the processing of my data as outlined.</span>
            </div>
            <button>Send message!</button>
            <div class="arrow-container">
                <img class="arrow-up" src="./assets/images/contact-images/arrow-up-white.png" alt="Arrow Up"
                    onmouseover="this.src='./assets/images/contact-images/arrow-up-green.png'"
                    onmouseout="this.src='./assets/images/contact-images/arrow-up-white.png'">
            </div>
        </div>
    </div>
</div>