<div class="above-the-fold">

    <div class="me-image-container">

        <div class="shadow-green-purple">
            <img src="./assets/images/photo-shadows.png" alt="green-purple-shadow image">
        </div>

        <img class="me-image-first" src="./assets/images/profile-picture1.png" alt="profile image">
    </div>

    <div class="intro-container">
        <div class="intro-box">
            <span>I am</span>
            <div class="iam-description">
                <span class="headline-name">Eduard Fray</span>
                <span class="healdine-description">FRONTEND DEVELOPER</span>
            </div>
        </div>

        <div class="atf-button">
            <app-button></app-button>
        </div>
    </div>
</div>



<div class="find-me-links-container">
    <div class="find-me-leftside">
        <div class="sideline"></div>
        <img src="./assets/images/github.png" alt="github Image">
        <img src="./assets/images/mail.png" alt="mail icon">
        <img src="./assets/images/linkdin.png" alt="linkedin icon">
        <span>eduard.fray&#64;hotmail.de</span>
    </div>

    <div class="find-me-rightside">
        <span>Scroll down</span>
        <img src="./assets/images/arrow-down-line.png" alt="arrow donwline">
    </div>
</div>