<div class="testimonials-container">
    <div class="border-and-arrows">
        <div class="border">
            <span>Michael really kept the team together with his great organization and clear communication. We wouldn't
                have got this far without his commitment.</span>
            <div class="name-container">
                <div class="sideline-inside"></div>
                <span>J.Lohmann</span>
            </div>
        </div>
        <div class="arrows-container">
            <div class="arrows-and-dots">
                <img class="arrow-left" src="./assets/images/testimonials/arrow_back.png" alt="">
                <img src="./assets/images/testimonials/purple-dot.png" alt="">
                <img src="./assets/images/testimonials/purple-dot.png" alt="">
                <img src="./assets/images/testimonials/purple-dot.png" alt="">
                <img class="arrow-right" src="./assets/images/testimonials/arrow_forward.png" alt="">
            </div>
        </div>
    </div>
    <div class="image-container">
        <img src="../../.././assets/images/testimonials/first-person.png" alt="First Person Image">
        <div class="sideline-right"></div>
    </div>
</div>